.nav{
		background-color: whitesmoke;
		background-size: 10px;
		box-shadow: rgb(0, 0, 0,0.2);
		display: flex;
		justify-content:space-evenly;
		background-clip: content-box;
		padding: 1%;
	}
	

	.nav select :hover{
		background-color: navy;

	}
	


	

